.explore-our-kitchen {
    position: relative;
    padding: 116px 0;
    background: $yellow;

    @include xs {
        padding: 76px 0;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 371px;
        background: $light-green;
    }

    &__title {
        position: relative;
        margin-bottom: 64px;
        z-index: 2;

        @include xs {
            margin-bottom: 54px;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            bottom: 100%;
            transform: translateX(-50%);
            background: $light-green;
            width: 3px;
            height: calc(116px + 7vh);

            @include xs {
                height: calc(76px + 7vh);
            }
        }

        h2 {
            font-family: $font-haavitas;
            letter-spacing: 3.25px;
            text-transform: uppercase;
            color: $light-green;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: $black;

            br {
                display: none;
            }

            @include xs {
                letter-spacing: 2px;


                br {
                    display: block;
                }
            }

            .x-after {
                display: inline-block;

                &::after {
                    content: '';
                    display: block;
                    width: 34.24px;
                    height: 4px;
                    background: $light-green;
                    border: 1px solid $black;
                    margin: 0 auto;
                    margin-top: -12px;
                    border-radius: 12px;

                    @include sm {
                        margin-top: -8px;
                    }
                }
            }
        }
    }

    &__body {}

    &__why {
        position: relative;
        border: 3px solid $black;
        padding: 40px 42px;
        background: $white;
        height: 100%;
        z-index: 2;
        transition: .3s all ease;
        transform-style: preserve-3d;
        transform: perspective(600px) rotateY(13.2deg) rotateX(0deg);

        // &:hover {
        // }

        @include sm {
            padding: 26px 24px 28px;
        }

        @include xs {
            padding: 24px 22px 30px;
        }

        .copy-lg {
            font-weight: bold;
        }

        h5 {
            color: $yellow;
            font-family: $font-haavitas;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: $black;
            text-transform: uppercase;
        }

        h6 {
            margin-bottom: 28px;
        }

        P {
            margin-bottom: 32px;

            @include xs {
                margin-bottom: 22px;
            }

            &.copy-lg {
                margin-bottom: 35px;

                @include xs {
                    margin-bottom: 26px;
                }

            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        &--funding {
            margin-top: 24px;

            .icon-wrapper {
                width: 100%;
                max-width: 345px;
                margin-top: 24px;

                @include xs {
                    max-width: 250px;
                }

                svg,
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}