// Colors
$black: #000;
$white: #fff;
$yellow: #EAB850;
$yellow-light: #FDD88A;
$orange: #DD8B60;
$green: #395C53;
$dark-green: #195363;
$light-green: #54A390;
$dark-blue: #195363;

.text-white {
    color: $white;
}

.text-black {
    color: $black;
}

.text-yellow {
    color: $yellow;
}

.text-green {
    color: $green;
}

.text-dark-green {
    color: $dark-green;
}

.text-light-green {
    color: $light-green;
}

// Fonts
$font-haavitas: 'Heavitas';
$font-brandon-grotesque: 'Brandon Grotesque';