.site-footer {
    background: $light-green;

    &__image {
        img {
            width: 100%;
            height: auto;
        }
    }

    &__copyright {
        padding: 40px 70px;
        background: $dark-blue;
        color: $white;

        @include md {
            padding: 24px 40px;
        }

        @include sm {
            padding: 24px 20px;
        }

        p {
            width: fit-content;

            @include xxs {
                font-size: 16px;
            }

            @include sm {
                width: auto;
                text-align: center;
            }
        }
    }
}