body {
    padding: 0;
    margin: 0;
    font-family: $font-brandon-grotesque;
    font-size: 22px;
}

::-webkit-scrollbar {
    display: none;
}

ul {
    &.list-reset {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.image-ratio {
    position: relative;
    width: 100%;

    &--square {
        padding-top: 100%;
    }

    img,
    svg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}

a {
    color: inherit !important;
    text-decoration: none !important;
    transition: .3s all ease;
}

.container,
.container-fluid {
    padding: 0 16px;
}

.container {
    max-width: 1494px;
}

.btn {}